services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: car_app
      MYSQL_USER: user_car
      MYSQL_PASSWORD: 1234
    ports:
      - "3308:3306"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d